[Unit]
Description=Hyprclip Clipboard Watcher
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprclip --watch
Restart=on-failure

[Install]
WantedBy=multi-user.target